<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>MENU PRINCIPAL</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/index}">App AdminSchool</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/index}">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
						aria-expanded="false">
						Alumnos
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/alumnos}">Lista de Alumnos</a>
						<a class="dropdown-item" th:href="@{/pagoporclase}">Pago por Clase</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
						aria-expanded="false">
						Profesores
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/profesor}">Lista de Profesores</a>
						<a class="dropdown-item" th:href="@{/salario}">Tipos de Salario</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/taller}">Talleres</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
						aria-expanded="false">
						Usuarios
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/usuario}">Usuario</a>
						<a class="dropdown-item" th:href="@{/rol}">Roles</a>
					</div>
				</li>


			</ul>
		</div>
	</nav>

	<div class="container text-center">
		<div>
			<h1 th:if="${alumno.idalumno == 0}">Registrar de Alumnos</h1>
			<h1 th:unless="${alumno.idalumno == 0}">Editar de Alumno</h1>
		</div>
		<form th:action="@{/alumnos/guardar}" th:object="${alumno}" method="post"
			style="max-width: 600px ; margin:0 auto;">
			<input type="hidden" th:field="*{idalumno}" th:value="${alumno.idalumno}" />
			<div class="m-3">
				<div class="form-group row">
					<label class="col-from-label col-sm-4">Nombre de Alumno : </label>
					<div class="col-sm-8 mb-3">
						<input type="text" th:field="*{nombre}" class="form-control" required />
					</div>

					<label class="col-from-label col-sm-4">Apellido : </label>
					<div class="col-sm-8 mb-3">
						<input type="text" th:field="*{apellido}" class="form-control" required />
					</div>

					<label class="col-from-label col-sm-4">DNI : </label>
					<div class="col-sm-8 mb-3">
						<input type="text" th:field="*{dni}" class="form-control" required />
					</div>

					<label class="col-from-label col-sm-4">Celular : </label>
					<div class="col-sm-8 mb-3">
						<input type="text" th:field="*{celular}" class="form-control" required />
					</div>

					<label class="col-from-label col-sm-4">Clases :</label>
					<div class="col-sm-8 mb-3">
						<select th:field="*{pagoclases}" class="from-control" required>
							<th:block th:each="pagoclases : ${listaClases}">
								<option th:text="${pagoclases.clases}" th:value="${pagoclases.idpago}">
								</option>
							</th:block>
						</select>
					</div>
					
					<label class="col-from-label col-sm-4">Fecha de Ingreso :</label>
					<div class="col-sm-8 mb-3">
						<input type="date" th:field="*{fechaing}" class="form-control" required />
					</div>
					
					<label class="col-from-label col-sm-4">Fecha de Finalizacion :</label>
					<div class="col-sm-8 mb-3">
						<input type="date" th:field="*{fechafin}" class="form-control" required />
					</div>
				</div>

				<div class="text-center p">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</div>

		</form>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>

</body>

</html>